:root {
    --gray-100: hsl(0, 0%, 95%);
    --gray-200: hsl(0, 0%, 85%);   
    --gray-300: hsl(0, 0%, 50%);   
    --gray-400: hsl(0, 0%, 20%);   
    --gray-500: hsl(0, 0%, 15%);   
    --gray-600: hsl(0, 0%, 10%);   
    --gray-700: hsl(0, 0%, 5%);
    
    --purple: hsl(239, 92%, 75%);
    --purple-dark: hsl(239, 53%, 59%);

    --blue: hsl(203, 69%, 59%);
    --blue-dark: hsl(202, 68%, 37%);

    --danger: hsl(0, 70%, 62%);

    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--gray-600);
    color: var(--gray-100);
}